.Passwords{
    border-spacing:30px 10px;
}

.Passwords .deleteEdit{
    width: 10px;
}

.PasswordWrapper button{
    background: none;
    border: none;
    transition: all .2s ease-in-out; 
    
}

.PasswordWrapper button a{
    color: inherit;
}

.PasswordWrapper button:hover{
    cursor: pointer;
    transform: scale(1.3); 
}