.add-button{
    background: none;
    border: none;
    transition: all .2s ease-in-out; 
}

.add-button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.addPassword{
    width: 50% !important;
    margin: auto !important;
}