.strength-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: #282C34 solid 2px;
  }
  
  
  .strength-bar {
    height: 100%;
  }
  

  .gradePassword{
    width: 53% !important;
    margin: auto !important;
  }