* {
    box-sizing: border-box;
}

.register {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 2%;
}

.register p {
    display: inline;
    margin: 0;
}

.register a {
    color: inherit;
    text-decoration: none;
    background-color: #282C34;
    padding: 10px;
    border-radius: 20px 5px 20px 5px !important;
    transition: all .2s ease-in-out; 
    margin-left: 10px;
}

.register a:hover {
    transform: scale(1.1) rotate(2deg);
    background: #3b414e;
    border-color: #3b414e !important;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@700&family=Space+Grotesk&display=swap');